.lobbyScreenBanner {
  height: 80vh;
  background-image: url("./lobbyBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-position-y: -80px; */
}
