body {
  overflow-x: hidden;
}
.textGrey {
  color: #343434;
}
.detailsCol {
  height: 100vh;
  /* position: fixed; */

  background-color: rgb(214, 214, 214);
  background-position: center;
}
.avatar {
  border: 4px solid rgb(134, 230, 104);
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.examDetails {
  height: max-content;
  background-color: white;
}

.calculatorContainer {
  display: none;
  height: max-content;
  background-color: white;
}
.calculatorScreen {
  height: 70px;
  font-size: 30px;
  text-align: right;
}

.questionText {
  text-align: justify;
}
